<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jenny.indilingo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/indi_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DisplayAlphabetActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SelectTopicActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DisplayBarakadiActivity" />
        <activity android:name=".activity.TestAlphabetsActivity" />
        <activity android:name=".activity.TestListActivity" />
        <activity android:name=".activity.AlphabetListActivity" />
        <activity android:name=".activity.WordsActivity" />
        <activity android:name=".activity.LearnWordsActivity" />
    </application>

</manifest>